@model Bar_Blogger.Blog

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Blog</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Title
            <div>
                @Html.EditorFor(model => model.Blog_Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Blog_Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Author
            <div>
                @Html.EditorFor(model => model.Blog_Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Blog_Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Review
            <div>
                @Html.EditorFor(model => model.Blog_Content, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                @Html.ValidationMessageFor(model => model.Blog_Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Date
            <div>
                @Html.EditorFor(model => model.Blog_Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.Blog_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Rating
            <div>
                @Html.EditorFor(model => model.Blog_Rating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Blog_Rating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Location
            <div>
                @Html.EditorFor(model => model.Blog_Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Blog_Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            City
            <div>
                @Html.EditorFor(model => model.Blog_City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Blog_City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            State
            <div>
                @Html.EditorFor(model => model.Blog_State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Blog_State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker();
    });
</script>*@